@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body, html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}


a {
    background-color: transparent;
    text-decoration: none ;
    outline: none ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.body{
    color: #0d0d25;
}

h1, h2, h3, h4, h5, h6 {
    color: #0d0d25;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 30px;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.team-box .h3-title {
    text-transform: capitalize;
    color: #0d0d25;
    font-weight: 600;
}

.social-icon {
    margin: 15px 0px 10px;
}

.social-icon ul li {
    display: inline-block;
    margin: 0 6px;
}

.social-icon ul li:last-child {
    margin-right: 0;
}

.social-icon ul li:first-child {
    margin-left: 0;
}

.social-icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    color: #0d0d25;
    font-size: 19px;
}

.social-icon ul li a:hover {
    background: #ff8243;
}

.social-icon ul li a:hover i {
    color: #ffffff !important;
}


.star-rating__fill::after {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #ff8243;
    letter-spacing: 4px;
}
.list_perason span a img  {
    transition: all 0.3s ease-in-out;
    max-width: 100%;

}
.list_perason span:hover img  {
    transform: scale(1.1);

}

.faq-row {
    column-count: 3;
    margin: 0 -5px;
}

.faq-box {
    border: 1px solid #bfbfbf;
    border-radius: 30px;
    background-image: linear-gradient(145deg, #e4e4e4, #ffffff);
    break-inside: avoid;
    margin: 0 5px 30px;
    box-shadow: 10px 10px 30px rgb(207 207 208 / 20%), -10px -10px 30px rgb(255 255 255 / 90%);
}

.faq-box .h4-title {
    padding: 16px 30px;
    border-bottom: 1px solid #bfbfbf;
    text-transform: capitalize;
    font-weight: 600;
}

.faq-box p {
    padding: 8px 30px 20px;
    margin: 0;
}

.footer-table-info ul li a{
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize
}
.footer-table-info ul li a:hover, .footer-menu ul li .footer-active-menu {
    color: #ff8243;
}

.top-footer, .bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}
.right form .btn button:hover{
    background: rgb(0, 0, 0);
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-info .social-icon {
    margin-top: 20px;
}

.footer-flex-box {
    display: flex;
    margin: 0 -10px;
}

.footer-flex-box>div {
    flex: 1;
    padding: 0 10px;
}

.footer-flex-box .h3-title {
    text-transform: capitalize;
    margin-bottom: 23px;
}

.footer-menu ul li a {
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize;
}

.footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
    color: #ff8243;
}

.footer-menu ul li {
    margin-bottom: 8px;
}

.footer-table-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.uil-clocl {
    font-size: 17px;
}

.copyright-text {
    padding: 20px 0;
}

.copyright-text p {
    margin: 0;
}

.name {
    color: #ff8243;
    font-weight: bold;
}

.scrolltop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #ff8243;
    font-size: 26px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    border: none;
}

.scrolltop:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 102%;
    border:none;
    outline: none;
    background: #d66937;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
}
.right section{
    right: 66px;
}
.copyright-text center a{
    text-decoration: none;
    
}

.copyright-text center a:hover{
    text-decoration: underline;
    color: rgb(237, 111, 0);
}


